@model MSPRoadDemo.Models.DrawingRequest
@{
    ViewData["Title"] = "Drawing";
}
<form asp-controller="Home" asp-action="Generate">
    <label asp-for="Post"> </label>
    <input asp-for="Post"/>
    <input asp-for="Count"/>
    <button type="submit">Generate</button>
</form>